@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --primary: #6ec1e4;
  --secondary: #54595f;
  --text: #7a7a7a;
  --accent: #61ce70;
  // --blue-dark: #4054b2;
  --green: #23a455;
  --blue-gray: #1a6c7a;
  --off-black: #000f2b;
  // --gray: #7a7a7a;
  --link: var(--gray);

  --gray-dark: #212121;
  --gray: #323232;
  --blue-dark: #0d7377;
  --blue-light: #14ffec;

  --primary-font: "Montserrat", sans-serif;
  --primary-font-weight: 500;
  --secondary-font: "Roboto", "Helvetica", "Arial", sans-serif;
  --button-font-weight: 600;
  // --e-global-typography-secondary-font-family: "Roboto Slab";
  // --e-global-typography-secondary-font-weight: 400;
  // --e-global-typography-text-font-family: "Roboto";
  // --e-global-typography-text-font-weight: 400;
  // --e-global-typography-accent-font-family: "Roboto";
  // --e-global-typography-accent-font-weight: 500;

  --small: 544px;
  --tablet: 768px;
  --desktop: 992px;
  --desktop-md: 1200px;
  --desktop-lg: 1400px;
}

html,
body {
  color: #625f5f;
  font-size: 16px;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  box-sizing: border-box;
}
body {
  font-family: var(--primary-font);
  p {
    margin: 1em 0;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.75em;
    letter-spacing: 2.5px;
  }

  h4 {
    font-size: 1.2em;
    font-weight: bold;
  }

  main,
  footer {
    h1,
    h2,
    h3,
    h4 {
      color: var(--off-black);
    }

    a {
      color: var(--link);
      transition: color 0.2s linear;

      &:hover,
      &:focus,
      &:active {
        color: var(--blue-gray);
      }
    }

    h1,
    h2,
    h3,
    h4,
    p {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
